<nav class="ui attached menu">
    <div class="ui container">
        <div class="header item">
            <h1><i class="checkmark box icon">{{title}}</i></h1>
        </div>
    </div>
</nav>

<div class="ui text container">
    <div class="ui segment form">
        <div class="ui fluid action input">
            <input type="text" class="form-control" name="login" placeholder="Login">
        </div>
        <br/>
        <div class="ui fluid action input">
            <input type="text" class="form-control" name="password" placeholder="Password">
        </div>
        <br/>
        <div class="ui fluid action input">
            <button type="button" class="ui primary button">Login</button>
        </div>
    </div>
</div>